!!!
%html
  %head
    %title Blog Example: Sinatra & HAML
    %link(rel="stylesheet" href="stylesheets/styles.css")
    %script(type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js')
  %body
    =yield